\{{!--Template use in app/views/{{module}}/{{name}}SearchView.js --}}
\{{#criteria "TODO : Add the information to display" }}
    \{{#form}}
        <div class="row">
          <div class="col-md-6">\{{input_for "#CRITERE_1"}}</div>
        </div>
        <br />
        \{{#btn_toolbar}}
          \{{button_reset}}
          \{{button_search}}
        \{{/btn_toolbar}}
    \{{/form}}
\{{/criteria}}

\{{result_container}}